*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
    color: white;
}

span {
    width: 120px;
    height: 120px;
    opacity: 30%;
    display: inline-block;
    background: url("../img/blob.svg");
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(34,18,21,0.8),rgba(34,18,21,0.8)),url("https://videohive.img.customer.envatousercontent.com/files/226179982/data_and_numbers_preview_image.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=585e610d39da0d5f0cdc216c380ce211");
    background-size: cover;
}

#about {
    width: 100%;
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(34,18,21,0.8),rgba(34,18,21,0.8)),url("https://videohive.img.customer.envatousercontent.com/files/226179982/data_and_numbers_preview_image.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=585e610d39da0d5f0cdc216c380ce211");
    background-size: cover;
}

.container {
    width: 80%;
    margin: auto 10%;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    text-decoration: none;
    position: absolute;
    top: 30px;
}

.brand-logo img {
    height: 60px;
    width: 60px;
}

.brand-logo-name {
    margin-left: 1rem;
}

header > img {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 2;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#side-nav {
    position: fixed;
    width: 20%;
    background-color: rgb(63,72,204);
    top: 0;
    right: -300px;
    height: 100vh;
    z-index: 1;
    min-width: 150px;
    max-width: 300px;
    text-transform: uppercase;
    transition: 1s;
}

#side-nav ul {
    list-style: none;
    margin: 120px auto;
}

#side-nav li {
    margin: 50px 20px;
}

#side-nav li a {
    text-decoration: none;
    padding: 10px 4px;
}

header #content {
    display: flex;
    position: absolute;
    top: 20%;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    margin-top: -50px;
}

#content article {
    width: 35%;
}

#content h1 {
    font-size: 40px;
}

#content button {
    background-color: rgba(63,72,204,0.9);
    border: none;
    outline: none;
    margin: 10px auto;
    padding: 8px 15px;
    border: 3px rgb(63,72,204) solid;
    cursor:pointer;
}


@media only screen and (max-width: 1200px) {
    header #content {
        display: flex;
        flex-direction: row;
    }
    #content img {
        height: 470px;
        width: 470px;
    }
}

@media only screen and (max-width: 900px) {
    header #content {
        display: flex;
        flex-direction: column;
    }
    #content article {
        width: 80%;
        margin-right: auto 10%;
        text-align: center;
    }
    #content img {
        height: 470px;
        width: 470px;
    }
}

